<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicios Otros</title>
    <link
      rel="stylesheet"
      href="../../../node_modules/tachyons/css/tachyons.min.css"
    />
  </head>
  <body>
    <nav class="pa3 pa4-ns">
      <a
        class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns"
        href="./index.otros.html"
        title="Home"
        >Ejercicios Otros</a
      >
      <div class="tc pb3">
        <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosComunes/index.comunes.html"
          title="Store"
          >Ejercicios Generales</a
        >
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosAlternativos/index.alternativos.html"
          title="Contact"
          >Ejercicios Alternativos</a
        >
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosRepeticion/index.repeticion.html"
          title="About"
          >Ejercicios Repetición</a
        >
      </div>
    </nav>
    <!-- Lista de Ejercicios -->
    <section class="mw7 center avenir">
      <h2 class="baskerville fw1 ph3 ph0-l"></h2>
      <!-- Ejercicio 1 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/programaVoz/ejercicio1.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosOtros/voz.png"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Programa de voz</h1>
              <p class="f6 f5-l lh-copy">
                Realizar el programa de interfaz de voz.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 2 -->
      <article class="bt bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/cadenas/ejercicio2.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosOtros/cadenas.jpeg"
                class="db"
                alt="Photo of a dimly lit room with a computer interface terminal."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Cadenas</h1>
              <p class="f6 f5-l lh-copy">
                Cadenas: Confeccione un programa que lea una oración e imprima
                cada una de las letras que aparecen en ella, con la cantidad de
                veces que aparecen escrito a su dereha. Ejemplo: “ESE ES EL
                ERROR​” <br />
                E 5 <br />
                S 2 <br />
                L 1 <br />
                R 3 <br />
                O 1
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 3 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/libreriaRandom/ejercicio3.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosOtros/game.jpeg"
                class="db"
                alt="Photo of a warehouse with stacked shelves."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Libreria Random</h1>
              <p class="f6 f5-l lh-copy">
                Realizar un programa que utilice la librería random. (para
                realizar una ruleta de números aleatorios, colores o países) y
                realizar un juego.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejericio 4 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/codigoMorse/ejercicio4.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosOtros/morse.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Código Morse</h1>
              <p class="f6 f5-l lh-copy">
                Leer una cadena y transformar a código Morse o viceversa.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 5  -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/tiendaViveres/ejercicio5.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosOtros/tienda.webp"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Tienda de víveres</h1>
              <p class="f6 f5-l lh-copy">
                Un Tienda de víveres se tiene N productos. Cada uno de ellos se
                venden en 5 días de la semana(lunes, martes, miércoles y jueves
                y viernes) con precios entre 0 y 10 usd, si es 0, significa que
                no se vendió Confeccione un programa en js para: <br />

                • Imprimir una tabla en la que aparezca, el producto vendido, el
                total de la venta semanal. <br />
                • Imprimir cuantos productos, no se vieron los miércoles. <br />
                • Mostrar un gráfico de barras que representen la venta
                realizada en cada dia de un producto x. <br />
              </p>
            </div>
          </div>
        </a>
      </article>
    </section>
  </body>
</html>
