<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicios Alternativos</title>
    <link
      rel="stylesheet"
      href="../../../node_modules/tachyons/css/tachyons.min.css"
    />
  </head>
  <body>
    <nav class="pa3 pa4-ns">
      <a
        class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns"
        href="./index.alternativos.html"
        title="Home"
        >Ejercicios Alternativos</a
      >
      <div class="tc pb3">
        <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosComunes/index.comunes.html"
          title="Store"
          >Ejercicios Generales</a
        >
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosRepeticion/index.repeticion.html"
          title="About"
          >Ejercicios Repetición</a
        >
        <a
          class="link dim gray f6 f5-ns dib"
          href="../ejerciciosOtros/index.otros.html"
          title="Contact"
          >Ejercicios Otros</a
        >
      </div>
    </nav>
    <!-- Lista de Ejercicios -->
    <section class="mw7 center avenir">
      <!-- Ejercicio 1 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/notasEstudiante/ejercicio1.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosAlternativos/notas.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Clasificar notas de un estudiante
              </h1>
              <p class="f6 f5-l lh-copy">
                Confeccione un programa para clasificar la nota de un estudiante
                de acuerdo a la siguiente escala: <br />
                Nota categoría <br />
                100-95 Excelente <br />
                94-90 Muy Bien <br />
                89-80 Bien <br />
                79-60 Regular <br />
                59-0 Insuficiente <br />
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 2 -->
      <article class="bt bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/numeroEntero/ejercicio2.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosAlternativos/numeros.jpeg"
                class="db"
                alt="Photo of a dimly lit room with a computer interface terminal."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Ingreso número entero
              </h1>
              <p class="f6 f5-l lh-copy">
                Escribe un programa jS que el usuario ingrese un número entero.
                A continuación muestra un mensaje indicando si el número es
                positivo o negativo, si es par o impar, si es múltiplo de 5, si
                es múltiplo de 10 y si es mayor o menor que 100. Consideraremos
                el 0 como positivo. Utiliza el operador condicional ( ? : )
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 3 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/raicesCuadraticas/ejercicio3.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosAlternativos/raices.jpeg"
                class="db"
                alt="Photo of a warehouse with stacked shelves."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Raices de la ecuación cuadrática
              </h1>
              <p class="f6 f5-l lh-copy">
                Confeccione un programa para calcular las raíces reales de una
                ecuación de la forma ax2 + bx +c
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejericio 4 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/alquilerAutomoviles/ejercicio4.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosAlternativos/compa.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Compañia de alquiler de automoviles
              </h1>
              <p class="f6 f5-l lh-copy">
                Una compañía dedicada al alquiler de automóviles cobra un monto
                fijo de $300000 para los primeros 300 km de recorrido. Para más
                de 300 km y hasta 1000 km, cobra un monto adicional de $ 15.000
                por cada kilómetro en exceso sobre 300. Para más de 1000 km
                cobra un monto adicional de $ 10.000 por cada kilómetro en
                exceso sobre 1000. Los precios ya incluyen el 20% del impuesto
                general a las ventas, IVA. Diseñe un programa que determine el
                monto a pagar por el alquiler de un vehículo y el monto incluido
                del impuesto.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 5  -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/edadPersona/ejercicio5.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosAlternativos/edad.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Edad de una persona
              </h1>
              <p class="f6 f5-l lh-copy">
                Calcule la edad de una persona conociendo su fecha de nacimiento
                en día, mes y año
              </p>
            </div>
          </div>
        </a>
      </article>
    </section>
  </body>
</html>
