<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicios Repetición</title>
    <link
      rel="stylesheet"
      href="../../../node_modules/tachyons/css/tachyons.min.css"
    />
  </head>
  <body>
    <nav class="pa3 pa4-ns">
      <a
        class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns"
        href="./index.repeticion.html"
        title="Home"
        >Ejercicios Repetición</a
      >
      <div class="tc pb3">
        <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosComunes/index.comunes.html"
          title="About"
          >Ejercicios Generales</a
        >
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosAlternativos/index.alternativos.html"
          title="Store"
          >Ejercicios Alternativos</a
        >
        <a
          class="link dim gray f6 f5-ns dib"
          href="../ejerciciosOtros/index.otros.html"
          title="Contact"
          >Ejercicios Otros</a
        >
      </div>
    </nav>

    <!-- Lista de Ejercicios -->
    <section class="mw7 center avenir">
      <h2 class="baskerville fw1 ph3 ph0-l"></h2>
      <!-- Ejercicio 1 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/propiedadNumeros/ejercicio1.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosRepeticion/propiedad.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Propiedad curiosa</h1>
              <p class="f6 f5-l lh-copy">
                Los números 46 y 96 tienen una curiosa propiedad su producto no
                se altera aunque las cifras que lo integran cambien de lugar:
                <br />
                46 x 96 = 4416 <br />
                64 x 69 = 4416 <br />
                Confeccione un programa para imprimir todos los números de dos
                cifras que cumplen con esta propiedad.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 2 -->
      <article class="bt bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/numerosNaturales/ejercicio2.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosRepeticion/numeros.jpeg"
                class="db"
                alt="Photo of a dimly lit room with a computer interface terminal."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Números naturales</h1>
              <p class="f6 f5-l lh-copy">
                Confeccione un programa para hallar e imprimir los números
                naturales que cumplan simultáneamente las condiciones
                siguientes: <br />
                • Se encuentren entre 1200 y 2000. <br />
                • Tengan exactamente 4 divisores enteros positivos que son 1,5,
                otro número primo y el propio número.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 3 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/serieFibo/ejercicio3.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosRepeticion/fibonacci.jpg"
                class="db"
                alt="Photo of a warehouse with stacked shelves."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Serie Fibonacci</h1>
              <p class="f6 f5-l lh-copy">
                Generar la serie de Fibonacci(recursivamente), hasta el elemento
                que ingrese el usuario
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejericio 4 -->
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/cadenaTexto/ejercicio4.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosRepeticion/string.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Cadenas de texto</h1>
              <p class="f6 f5-l lh-copy">
                Realizar un programa en JS para leer cadenas de texto hasta que
                se introduzca la cadena vacía o mientras que el número de
                vocales sea menor que 50. Al finalizar se debe de mostrar el
                número de caracteres introducidos y el número de vocales. En el
                caso de que el usuario introduzca una palabra menor a tres
                caracteres, no se debe procesar y se llevará cuenta del número
                de palabras de este tipo introducidas. Al finalizar se debe de
                mostrar el número de palabras menor de tres caracteres
                introducidas e imprimir la cadena total leida al reves.
              </p>
            </div>
          </div>
        </a>
      </article>
      <!-- Ejercicio 5  -->
      <!-- <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/edadPersona/ejercicio5.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosAlternativos/edad.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Edad de una persona
              </h1>
              <p class="f6 f5-l lh-copy">
                Calcule la edad de una persona conociendo su fecha de nacimiento
                en día, mes y año
              </p>
            </div>
          </div>
        </a>
      </article> -->
    </section>
  </body>
</html>
