<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicios JavaScript</title>
    <link
      rel="stylesheet"
      href="../../../node_modules/tachyons/css/tachyons.min.css"
    />
  </head>
  <body>
    <nav class="pa3 pa4-ns">
      <a
        class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns"
        href="./index.repeticion.html"
        title="Home"
        >Ejercicios Generales</a
      >
      <div class="tc pb3">
        <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosAlternativos/index.alternativos.html"
          title="Store"
          >Ejercicios Alternativos</a
        >
        <a
          class="link dim gray f6 f5-ns dib mr3"
          href="../ejerciciosRepeticion/index.repeticion.html"
          title="About"
          >Ejercicios Repetición</a
        >
        <a
          class="link dim gray f6 f5-ns dib"
          href="../ejerciciosOtros/index.otros.html"
          title="Contact"
          >Ejercicios Otros</a
        >
      </div>
    </nav>
    <!-- Lista de Ejercicios -->
    <section class="mw7 center avenir">
      <article class="bt bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/ejercicioAnguloSol/ejercicio1.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosComunes/poste.jpeg"
                class="db"
                alt="Photo of a dimly lit room with a computer interface terminal."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Ángulo de incidencia del sol
              </h1>
              <p class="f6 f5-l lh-copy">
                Conocida la altura(h) de un poste y el largo de la sombra de
                este proyectada sobre la acera(s),a una hora determinada del
                día, haga un programa que calcule e imprima (grados, minutos y
                segundos), el ángulo de incidencia del sol en ese momento.
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/ejercicioAreaTri/ejercicio2.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosComunes/triangulo.jpeg"
                class="db"
                alt="Photo of a warehouse with stacked shelves."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Área de un triángulo
              </h1>
              <p class="f6 f5-l lh-copy">
                Calcular el área de un triángulo conocida la longitud de cada
                uno de sus lados.
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/ejercicioLeerNum/ejercicio3.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosComunes/numero.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">Leer un número</h1>
              <p class="f6 f5-l lh-copy">
                Confeccione un programa para leer un número e imprimir: <br />
                • El antecesor <br />
                • El sucesor <br />
                • La parte entera de su raíz cuadrada <br />
                •La cantidad de cifras que tiene.
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/ejercicioPagoTrab/ejercicio4.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosComunes/pago.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Pago neto de un trabajador
              </h1>
              <p class="f6 f5-l lh-copy">
                Calcular la paga neta de un trabajador conociendo el número de
                horas trabajadas, la tarifa horaria y la tasa de impuestos.
                <br />
                • Calcular Paga Bruta = Número de horas trabajadas * Tarifa
                <br />
                •Calcular Impuestos = Paga Bruta * Tasa <br />
                • Calcular Pago Neta = Paga Bruta – Impuestos <br />
                Imprimir: Paga Bruta, Visualizar Impuestos y Visualizar Pago
                Neta.
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="bb b--black-10">
        <a
          class="db pv4 ph3 ph0-l no-underline black dim"
          href="./listaEjercicios/ejercicioCalculoInt/ejercicio5.html"
        >
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img
                src="../../../assets/img/ejerciciosComunes/interes.jpeg"
                class="db"
                alt="Photo of a whale's tale coming crashing out of the water."
              />
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 baskerville mt0 lh-title">
                Calculo de interés
              </h1>
              <p class="f6 f5-l lh-copy">
                Programa que calcula el capital final de un interés simple.
              </p>
            </div>
          </div>
        </a>
      </article>
    </section>

    <script type="module" src="./index.comunes.js"></script>
  </body>
</html>
